body {
    background-color: rgb(42, 41, 46);
    color: white;
}

img {
    height: 35rem;
    border-radius: 0.7rem;
    justify-self: center;
}

.image-carousel {
    /* border: 2px solid green; */
    position: relative;
}

.selector {
    /* border: 2px solid red; */
    height: 35rem;
    width: 19.6rem;
    position: absolute;
    z-index: 1;
    left: calc(50% - 19.6rem/2);
}

.previous,
.next {
    position: absolute;
    top: 50%;
}

.next {
    right: 0;
}

.images {
    display: grid;
    justify-content: center;
    transition: 3s;
    grid-template-columns: repeat(3, 19.6rem);
    /* Smooth sliding */
}

.small {
    scale: 85%;
    z-index: -1;
}

.next-image {
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
}

.previous-image {
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
}

.reset {
    transition: 0.5s ease-in-out;
    transform: translateX(0%);
}


.page-break {
    margin: 3rem 0;
}

.hidden {
    display: none;
}