body {
    background-color: rgb(42, 41, 46);
    color: white;

    --img-width: 19.6rem;
}

img {
    height: 35rem;
    border-radius: 0.7rem;
    justify-self: center;
}

.image-carousel {
    /* border: 2px solid green; */
    position: relative;
}

.selector {
    /* border: 2px solid red; */
    height: 35rem;
    width: var(--img-width);
    position: absolute;
    z-index: 5;
    left: calc(50% - var(--img-width)/2);
}

.previous,
.next {
    position: absolute;
    top: 30vh;
    z-index: 5;
}

.previous {
    left: calc(50% - ((var(--img-width)/2)));
}

.next {
    left: calc(50% + ((var(--img-width)/2)));
}

.page-break {
    margin: 3rem 0;
}

.hidden {
    display: none;
}

.image-carousel img {
    position: absolute;
}

.left {
    transition: 0.5s ease-in-out;
    left: calc(50% - ((var(--img-width)/2) * 3));
    scale: 85%;
    z-index: -1;
}

.center {
    transition: 0.5s ease-in-out;
    left: calc(50% - var(--img-width)/2);
    z-index: 2;
}

.right {
    transition: 0.5s ease-in-out;
    left: calc(50% + ((var(--img-width)/2)));
    scale: 85%;
    z-index: -1;
}